/*html, body{
  height:100%
  margin 0;
}
.MuiButton-containedPrimary {
background-color: #FE980F
}*/
/* .signin {
    display: flex;    
    margin-top: 230px;
    flex-direction: column;
    background-color: rgb(220, 53, 69);
    width: 300px;    
    height: 200px;
    border-radius: 10px;
    margin-left: 500px;
}

.inputs {
  padding: 8px;
}


.link {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}


.botoncito {
    height: 20px;
    width: 60px;
    margin-top: 20px;
    border-radius: 7px;    
}

.label{
  font-size: 13px;
}
.labelUsername {
  margin-right: 10px;
}

.labelPassword {
  margin-right: 14px;
}

.submit {
  color: white;
  background-color: blue;
  border-radius: 5px;
  border-color: black;
} */

